@import "../../styles.css";

#footer {
  box-sizing: border-box;
  width: available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: .65em;
  border-top: var(--border-color-gray) solid 1px;
  margin: 10px 15%;
  color: var(--color-medium-gray);
}

.footerenok {
  width: available;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
  margin: 10px 4%;
}

.footerenok ul {
  list-style: none;
}

.footerenok h1 {
  text-align: center;
}

h3 {
  display: inline;
}

.footerenok a {
  text-decoration: none;
  color: inherit;
}
