<div id="footer">
  <div class="footerenok">
    <a routerLink=""><h1>KBTU<br>Board</h1></a>
  </div>

  <div class="footerenok">
    <h3>Полезные ссылки</h3>
    <ul>
      <li><a routerLink="/about">О проекте</a></li>
      <li><a routerLink="/work">Работа с нами</a></li>
      <li><a routerLink="/donate">Поддержать проект</a></li>
    </ul>
  </div>

  <div class="footerenok">
    <h3>Кто мы</h3>
    <ul>
      <li><a href="https://www.instagram.com/aggressive_deer/" target="_blank">Aggressive Deer</a></li>
      <li><a href="https://www.instagram.com/jiklopo/" target="_blank">Дихлофос</a></li>
      <li><a href="https://www.instagram.com/thugboikz/" target="_blank">thugboikz</a></li>
    </ul>
  </div>


  <div class="footerenok">
    <a href="https://github.com/Jiklopo/KBTU-Board" target="_blank">
      <img alt="Link to Github" class="footer-logo" src="assets/github-logo.png">
    </a>
  </div>
</div>
