<div id="form-container">
  <div class="tab">
    <button (click)="openCategory('help')" class="tablinks">Услуги</button>
    <button (click)="openCategory('lost')" class="tablinks">Потеряно и Найдено</button>
    <button (click)="openCategory('study')" class="tablinks">Учеба</button>
  </div>

  <div class="tabcontent">
    <form (ngSubmit)="submitForm()" [formGroup]="post">
      <input formControlName="head" placeholder="Заголовок" type="text">
      <div *ngIf="!head.valid && (head.dirty || head.touched)" class="alerts">
        <div *ngIf="head.errors.required" class="alert">Заголовок обязателен</div>
        <div *ngIf="head.errors.minlength" class="alert">Короче 5 символов</div>
        <div *ngIf="head.errors.maxlength" class="alert">Длиннее 40 символов</div>
      </div>

      <input formControlName="description" placeholder="Описание" type="text">
      <div *ngIf="!description.valid && (description.dirty || description.touched)" class="alerts">
        <div *ngIf="description.errors.minlength " class="alert">Короче 10 символов</div>
        <div *ngIf="description.errors.maxlength" class="alert">Длиннее 200 символов</div>
      </div>

      <div class="content" formGroupName="help" id="help">
        <input formControlName="reward" placeholder="Вознаграждение" type="text">
      </div>

      <div class="content" formGroupName="lost" id="lost">
        <input formControlName="place" placeholder="Место находки" type="text">
        <div class="one-line-input">
          <div>
            Дата:
          </div>
          <input formControlName="date" type="date">
        </div>

        <div class="one-line-input">
          <div>Время:</div>
          <input formControlName="time" placeholder="Время находки" type="time">
        </div>
        <select formControlName="lostOrFound">
          <option value="lost">Потерял</option>
          <option value="found">Нашел</option>
        </select>
        <div *ngIf="!lost.valid && lost.touched && !lostType.valid" class="alerts">
          <div *ngIf="lostType.errors.required" class="alert">
            Вы потеряли или нашли?
          </div>
        </div>
      </div>

      <div class="content" formGroupName="study" id="study">
        <input formControlName="subject" placeholder="Предмет" type="text">
        <input formControlName="reward" placeholder="Вознаграждение" type="text">
      </div>
      <button [disabled]="disableButton()" type="submit">Подать объявление</button>
    </form>
  </div>
</div>
