.header {
    background:#53C46D;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 20px;
    position: fixed;
    position:absolute;
    top:0;
    
  }
  h1{
    padding-left: 160px;
  }
  button{
    background: transparent;  
    padding: 5px 0px 20px 0px;
    vertical-align: middle; 
    
  }
  .add
  {
    margin:10px 80px 0px 526px;
    padding:5px;
    color:#F5F555;
    font-size: 15px;
    border: solid;
    border-color: #F5F555;
    border-radius: 5px;
    border-width: 1px;
    font-style: bold;
  }
  .login
  {
    margin:10px 260px 0px 0px;
    padding:5px;
      font-size: 20px;
      color:#ffff;
      border:none;
  }
  div
  {
    display: inline-block;
  }
  a:link, a:visited {
    text-decoration: none;
    color:#ffff;
  }
  
  a:hover, a:active {
   text-decoration: none;
   color:#ffff;
  }
  